*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.header-section{
    width: 100%;
    height: 18vh;
    /* border: 1px solid red; */
    overflow: hidden;
    box-shadow: 0 5px 60px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo, .menu-list{
    width: auto;
    height: 18vh;
}
/* 
.header-section .logo,.header-section .menu-list{
    width: 48%;
} */
.logo{
    display: flex;
}
.logo figcaption{
    width: 100%;
    align-self: center;
    text-align: center;
}
.logo .sparkz-text{
    width:60%;
}
.logo figcaption p{
    margin-top: -10px;
    font-weight: 700;
    font-size: 110%;
}



.menu-list{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.menu-list a{
    width: 90px;
    padding: 15px; 
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-grow: 2;
    transition: .3s;
    color: #083A59;

}

.menu-list a:hover{
    background-color: #083A59;
    color: #24BFBF;
    transition: .3s;
    /* letter-spacing: 2px; */
    transform: scale(1.1);
}

.menu-list a:hover::first-letter{
    color: red;
}

.menu-list a:hover i{
    color: red;
}
.fa-circle-chevron-down{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
    }
    .sparkz-logo{
        width: 100px;
    }
    .logo figcaption .sparkz-text{
        padding-top: 20px;
        width: 220px;
    }
    .logo figcaption p{
        margin-top: 10px;
        font-size: 12px;
    }
    .menu-list{
        width: 100%;
        height: 80px;
        /* border: 1px solid red; */
        position: relative;
        background-color: #083A59;
        transition: .6s;
    }
    .menu-list{
        overflow: hidden;
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu-list .links{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: .6s;

    }
    
    .menu-list a{
        color: white;
        flex-grow: 1;
        width: 100%;
        padding: 20px;
        margin-top: 15px;

    }
    .fa-circle-chevron-down{
        display: block;
        position: absolute;
        color: #24BFBF;
        z-index: 15;
        transition: .6s;
        bottom: 15px;
        transition: transform .6s;
    }
    .fa-circle-chevron-down:hover{
        box-shadow: 0 0 5px #24BFBF, 1px 1px 10px #24BFBF, 2px 2px 15px #24BFBF, 3px 3px 20px #24BFBF;
        cursor: pointer;
    }
    .fa-circle-chevron-down:active{
        color: aliceblue;
        transition: .6s;
        
        
    }
}