*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.container{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    position: relative;
    background-image: radial-gradient(#f6b9a8, #e85126, #d14922);
}

.container .logo{
    width: 300px;
    height: 400px;
    /* border: 1px solid green; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img{
    width: inherit;
    height: inherit;
    animation: ripple 2s ease-out infinite;
}

.logo h1{
    font-size: 3rem;
    color: white;
    font-family: fantasy;
    letter-spacing: 2px;
    animation: ripple 2s ease-out infinite;
}
.ring{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}
.first{
    animation: ripple-ring 2s ease-in  infinite;

}
.second{
    animation: ripple-ring 2s ease-in .1s infinite;

}
.third{
    animation: ripple-ring 2s ease-in .3s infinite;

}

@keyframes ripple {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
        letter-spacing: 3px;
    }
}

@keyframes ripple-ring {
    from{
        width: 100px;
        height: 100px;
        border-width: 3px;

    }   
    to{
        width: 7000px;
        height: 7000px;
        border-width: 100px;
    }
}